@use '@/shared/styles/variables' as *;

.wrapper {
  gap: $paddind-vertical;
  flex-direction: column;
  align-items: flex-start;
}

.studentsMobile {
  display: none;

  @media (max-width: $mobile-view) {
    display: block;
  }
}

.studentsDesktop {
  display: block;

  @media (max-width: $mobile-view) {
    display: none;
  }
}
