@use '@/shared/styles/variables' as *;

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: $paddind-horizontal;
}

.success :global(.ant-statistic-content) {
  color: $color-success;
}

.planed :global(.ant-statistic-content) {
  color: $color-planed;
}
