@use '@/shared/styles/variables' as *;

.layoutGrid {
  display: grid;
  gap: 12px;
}

.leftGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $paddind-vertical;
}

.rightGrid {
  display: grid;
  gap: $paddind-vertical;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

@media (max-width: $mobile-view) {
  .leftGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .rightGrid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media (max-width: $laptop-view) {
  .leftGrid {
    grid-template-columns: 1fr;
  }
}
