@use '@/shared/styles/variables.scss' as *;

.card {
  width: $group-card-width;
}

.contentWrapper {
  gap: 12px;
  flex-direction: column;
}

.info {
  width: calc($group-card-width - (var(--ant-card-body-padding)) * 2);
}

.title:hover {
  color: $color-link-hover;
  transition: color $motion-duration-slow;
}

.title,
.notes,
.price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete:hover {
  color: $color-del-hover !important;
}
