@use '@/shared/styles/avatarColors' as *;

.card {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
}

.delete:hover {
  color: red !important;
}
