@use '@/shared/styles/variables' as *;

.content {
  margin: $paddind-vertical $paddind-horizontal 0;
  padding: $paddind-vertical $paddind-horizontal;
  background: $color-background-base;
  border-radius: $border-radius;
}
