@use 'sass:list';
@use '@/shared/styles/variables.scss' as *;

.avatar {
  border: none !important;
}

.avatar-inactive {
  filter: grayscale(100%);
}

@for $i from 1 through list.length($avatar-colors) {
  .avatar-color-#{$i - 1} {
    background-color: list.nth($avatar-colors, $i);
  }
}
