@use 'sass:list';

$avatar-colors:
  #f56a00, #7265e6, #ffbf00, #00a2ae, #52c41a, #eb2f96, #1890ff, #fa541c;

.avatar {
  border: none !important;
}

.avatar-inactive {
  filter: grayscale(100%);
}

@for $i from 1 through list.length($avatar-colors) {
  .avatar-color-#{$i - 1} {
    background-color: list.nth($avatar-colors, $i);
  }
}
