@use '@/shared/styles/variables' as *;

.lessons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: $paddind-horizontal;
}

.indiv {
  color: $color-indiv-event;
}

.group {
  color: $color-group-event;
}
