@use '@/shared/styles/variables' as *;

.lessons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: $paddind-horizontal;
  --chart-cols-color: #{$color-chart-cols};
}

.chartWrapper {
  min-width: 400px;
}
