.calendarContainer {
  height: 70vh;
}

.event {
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 4px 8px;
}

.groupEvent {
  background-color: #52c41a; // зелений
}

.individualEvent {
  background-color: #1677ff; // синій
}
