@use '@/shared/styles/variables' as *;

.calendarWrapper {
  gap: $padding-lg;
  align-items: flex-start;
}

.miniCalendar {
  width: $mini-calendar-width;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  flex-shrink: 0;
}

.calendarContainer {
  height: 75vh;
  flex: 1;
}

.lesson {
  padding: $padding-xxs $padding-xs;
  border-radius: $border-radius;
  font-weight: $font-weight-strong;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow-base;
    transform: scale(1.01);
  }
}

.groupLesson {
  background-color: $color-group-event !important;
}

.indivLesson {
  background-color: $color-indiv-event !important;
}
